*
{
    box-sizing: border-box;
}

:root
{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    --bg_coquelicot : rgba(180, 27, 0, 0.8);
    --bg_greenGrass: rgb(126, 153, 0);
    --butterflyTree: rgb(81, 0, 72);
    --darkGreen: rgb(0, 72, 0);
    --aKindOfBlue: rgb(108, 144, 135);
}
 /* -- B -- */
body
{
    height: 100%;
    margin: 0;
    background: var(--aKindOfBlue); 
}

.box
{
    margin-bottom: 20px;
    /* font-size: 4vw; */
}

/* .buttonArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px
} */

button
{
    padding: 3px 12px;
    border-radius: 9px;
    font-size: 1rem;
    width: auto;
    height: 44px;
    margin: 10px;
    color: black;
    box-shadow: 1px 6px 5px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.1px;
}

button:hover
{
    background-color: var(--bg_greenGrass);
    border: var(--bg_greenGrass);
    color: white;
}

/* -- C -- */
caption
{
    padding-bottom: 10px;
    padding-top: 10px
}

#container
{
    visibility: hidden;
}


/* -- F -- */

form > input
{
    width: auto;
    height: 2rem;
    /* height: 44px; */
    margin: 10px;
    border-radius: 9px;
    font-size: 1.1rem;
}


/* -- H -- */
h1, h3
{
    text-align: center;
    letter-spacing: 1.5px;
    color: whitesmoke;
}

/* -- I -- */

#itemTitle
{
    display: none;
}

#info
{
    display: none;
    width: 25%;
    margin: auto;
}

div[class="itemSearch"]
{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}


div[class="itemSearchArea"] > *
{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border-radius: 6px;
}

div[class="manualSearchResults"]
{
    background: whitesmoke;
    width: auto;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 1rem;
    border: 1px solid var(--bg_coquelicot);
    border-radius: 6px;
}

div[class="searchFiltersArea"]
{

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    border-radius: 6px; 
}

div[class="searchFiltersArea"] > select
{
    width: auto;
    height: 2rem;
    margin-top: 9px;
    border-radius: 6px;
    font-size: 1rem;
}

input[name="manualItemSearchField"]
{
    padding: 0 10px;
    height: 44px;
    box-shadow: 1px 6px 5px 2px rgba(0, 0, 0, 0.5);
}

input:focus
{
    background-color: white;
}

input:default
{
    background-color: white;
}

/* input:valid
{
    background: var(--bg_greenGrass);
    color: white;
    text-align: center;
} */

/* input:invalid
{
    background: red;
    color: white
} */

/* -- L -- */
li
{
    position: relative;
    background: lightgray;
    padding: 6px;
    /* border: transparent; */
    border-radius: 6px;
    border-left: 9px solid rgb(255, 153, 0);
    list-style: none;
    word-spacing: 3px;
    word-break: break-word;
    min-height: 50px;
}

li::after
{
    content: "";
    position: absolute;
    top: 27px;
    left: 6px;
    width: 200px;
    height: 16px;
    background: black;
    z-index: -1;
    box-shadow: 0px 2px 6px 9px rgba(9, 9, 9, 0.9);
    transform: rotate(-3deg);
    border-radius: 3px
}

li:hover
{
    background:beige;
    color: rgb(43, 43, 43);
}
/* -- P -- */
.place
{
    table-layout: fixed;
    width: 100%;
}


/* -- S -- */
div[class="searchEngine"]
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-right: 9px;
    margin-left: 9px;
    padding: 18px
}
/*
div[class="searchEngineList"]
{
    display: flex;
    flex-direction: column;
    flex: auto;
} */

.specifications, .operations
{
    table-layout: fixed;
    width: 100%;
    text-align: center;
}


/* -- T -- */
table
{
    border-collapse: collapse;
}

th, td
{
    text-align: center;
    border: 1px solid rgb(245, 245, 126);
    background-color: rgb(175, 56, 56);
    padding: 9px;
    word-wrap: break-word;
}

td
{
    background-color: rgb(231, 199, 199);
}


thead
{
  background-color: rgb(126, 45, 216)
  
}


/* -- U -- */
ul
{
    /* margin-top: 1px;
    margin-bottom: 6px;
    margin-right: 6px;
    margin-left: 6px; */
    margin: 0;
    padding: 0; 
}
/* @media screen and (max-width: 600px) 
{
    .box {
      font-size: 1em;
    }
  } */

/* @media screen and (min-width: 471px) 
{
    .box {
      font-size: 3vw;
    }
  }
  */
  @media screen and (max-width: 470px)
   {
    .box {
      font-size: 3vw;
    }
  }